* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(167, 224, 186);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  text-align: center;
}

h1 {
  color: darkblue;
  margin: 20px 0;
}
h3 {
  color: darkblue;
  text-align: right;
  margin-right: 200px;
  text-decoration: underline;
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0px 200px;
}


.btn {
  width: 80px;
  height: 40px;
  color: white;
  background-color: rgb(0, 34, 0);
  padding: 10px 14px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  
}

.btn:hover {
  box-shadow: 0px 0px 5px 2px white;
  color: white;
}

.btn:active {
  background-color: #e76f51;
}

#container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
}

*[class^="square"] {
  border: solid 5px blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.squareEasy {
  width: 10%;
  height: 10%;
}


.squareNormal {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.squareHard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.active {
  background-color: orangered;
  cursor: not-allowed;
}
